@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');


body {
    font-family: 'Rubik', sans-serif;
    background-color: #1B1D24;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    background-color: #1B1D24;
    padding: 40px;
    text-align: center;
    color: #F5F5F5;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid white;
}